.vcontainer {
    position: relative;
    background: yellow;
}

.animate {

    position: absolute;

}

.hgame_letter {

    margin: 2px 2px 2px 2px;
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    width: 50px;
    height: 50px;
}

.vheader {
    background-image: url("../img/banner1000_4.png");

    background-repeat: no-repeat;
    background-size: contain;
    /* height: 100%;
    width: 100%; */

    background-position: center;
}

.vbtn2 {

    background-repeat: no-repeat;
    background-size: contain;


    text-align: center;




}

.vbtn5 {

    background-repeat: no-repeat;
    background-size: contain;

    text-align: center;
}

.btn-batdau {
    font-family: Tahoma;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    margin: 0 auto;

}

.btn-ketthuc {

    font-family: Tahoma;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    margin: 0 auto;
}

.footer_copyright {
    font-family: Arial;
    color: dimgray;
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    top: 95%;
    text-align: center;
    width: 100%;


}

.text-center {
    text-align: center;
}

.vspace {

    margin: 0px 00px 10px 0px;
    width: 100%;
    height: 100%;
}

.bigletter {
    background-image: ("../img/tv.png");

    margin: 10px;
    width: 100%;
    height: 100%;
    font-family: arial;

    font-size: 100px;
    font-weight: bold;
    color: darkgoldenrod;

}

.avatar {

    margin: 40px -40px 0px 00px;
    float: right;

}

#tvdisplay {


    /* background-image: url("../img/tv.png"); */

    background-color: #ffffff;
    width: 90%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 5px;


}